# Tasks

In [6]:
total = 100
print("The total is", total)

The total is 100

In [7]:
total = total + 99
print("The total is now", total)

The total is now 199

In [8]:
total -= 1
print("The total is", total)

total *= 4
print("The total is", total)

total /= 2
print("The total is", total)

The total is 198
The total is 792
The total is 396.0

In [25]:
total = 98.2
count = 5

# add your extra code here

average = total/count
print("The average is", average)

The average is 19.64

In [13]:
type(False)

bool

In [16]:
type(1000)

int

In [17]:
type(100.111)

float

In [18]:
type("Hello")

str

In [19]:
type(True)

bool

In [20]:
type(100/5)

float

In [21]:
type(100//5)

int

In [22]:
"ABC" * 10

'ABCABCABCABCABCABCABCABCABCABC'

In [28]:
name = "Birajan Rajbhandari"
print("Name:",name)
print("Address: Kathmandu,Maitidevi")
print("Contact: 9862244262")
print("Name Length:", len(name))

Name: Birajan Rajbhandari
Address: Kathmandu,Maitidevi
Contact: 9862244262
Name Length: 19

In [29]:
age = input("Enter your age ")
print("in one year your age will be", age + 1)

Enter your age 22

TypeError: can only concatenate str (not "int") to str

the input() function only ever returns a string and python can an only concatenate str (not "int") to str.

In [32]:
var_1 = int(input("Enter 1st numeric value: "))
var_2 = int(input("Enter 2nd numeric value: "))
print("The product of these values:",var_1*var_2)

Enter 1st numeric value: 22
Enter 2nd numeric value: 10
The product of these values: 220

In [36]:
comment = "I would have "thought" you knew better!"

SyntaxError: invalid syntax (<ipython-input-36-3c65c59a030b>, line 1)

In [40]:
print("This text includes characters such as '\\' '\"' and \"'\",\n    This is a new line that starts with a tab\n        This new line starts with two tabs")

This text includes characters such as '\' '"' and "'",
    This is a new line that starts with a tab
        This new line starts with two tabs

In [48]:
print("\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\nHello there!\n\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\")

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
Hello there!
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

In [49]:
print("""This text spans three lines,
and includes both single ('),
and double quotes (").""")

This text spans three lines,
and includes both single ('),
and double quotes (").

In [52]:
surname = "Palin"
initial = surname[2]
print(initial)

l

In [55]:
surname = "Palin"
initial = surname[10]
print(initial)

IndexError: string index out of range

In [56]:
surname = "Palin"
initial = surname[-2]
print(initial)

i

In [58]:
surname = "Palin"
middle = surname[1:]
print(middle)

alin

In [59]:
surname = "Palin"
middle = surname[0:len(surname)-1]
print(middle)

Pali

In [83]:
primes = [2, 3, 5, 7, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

print(primes[0:4])

[2, 3, 5, 7]

In [84]:
names = ["Terry", "John", "Michael", "Eric", "Terry", "Graham"]
names[-2:len(names)-1] = ["Jin", "Jan"]
print(names)

['Terry', 'John', 'Michael', 'Eric', 'Jin', 'Jan', 'Graham']

In [86]:
nums = [1,2,3] * 5
print(nums)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]