In [1]:
10 < 100

True

In [2]:
100 != 100

False

In [3]:
50 >= 50

True

In [4]:
age = 22

In [5]:
age < 18

False

In [6]:
age<21

False

In [7]:
age<31

True

In [8]:
"a" < "b"

True

In [9]:
"b" < "a"

False

In [10]:
"John" < "Terry"

True

In [11]:
"john" < "Terry"

False

In [12]:
5 < 10.2

True

In [13]:
5 < "Monty"

TypeError: '<' not supported between instances of 'int' and 'str'

In [14]:
5 < "5"

TypeError: '<' not supported between instances of 'int' and 'str'

In [16]:
age = 30

age >=18 and age <=65

True

In [17]:
age <18 or age >65

False

In [18]:
not age > 18

False

In [19]:
age = 30

(age >=18 and age <=65) and (not age==30)

False

In [23]:
weight = 150
height = 150

100 < weight and weight < 200

True

In [25]:
100<weight<200

True

In [26]:
height > 131 and height < 160

True

In [27]:
131<height<160

True

In [1]:
names = ["Terry", "John", "Michael", "Eric", "Terry", "Graham"]

In [2]:
"John" in names

True

In [8]:
"Jan" in names

False

In [9]:
"Eric" not in names

False

In [10]:
"Jan" not in names

True

In [12]:
message = "Hello there, my name is John"
"the" in message

True

In [14]:
"Heo" in message

False

In [16]:
age = 20
if 18<age<30:
    print("you are still young!")

you are still young!

In [17]:
age = 32
if 18<=age<=30:
    print("you are still young!")
elif 30<=age<=40:
    print("you are not very old yet.")

you are not very old yet.

In [20]:
name = input("Enter your name: ")
if name == "":
    print("Name not entered")
else:
    print("Your name is", name)

Enter your name:
Name not entered

In [22]:
age = 17
print("you are an adult" if age>=18 else "you are not an adult,yet!")

you are not an adult,yet!

In [23]:
names = ["Terry", "John", "Michael", "Eric"]
for i in names:
    print(i)

Terry
John
Michael
Eric

In [25]:
for i in range(2,11,2):
    print(i, "to the power of", i, "=", i**i)

2 to the power of 2 = 4
4 to the power of 4 = 256
6 to the power of 6 = 46656
8 to the power of 8 = 16777216
10 to the power of 10 = 10000000000

In [29]:
numbers = [10, 20 , 30, 90, 200, 30, 22, 11]
total=0
for i in numbers:
    total = total+i
    print("total:",total)

total: 10
total: 30
total: 60
total: 150
total: 350
total: 380
total: 402
total: 413

In [30]:
numbers = [10, 20 , 30, 90, 200, 30, 22, 11]
total=0
for i in numbers:
    
    if i>100:
        break
        
    total = total+i
    print("total:",total)

total: 10
total: 30
total: 60
total: 150

In [31]:
numbers = [10, 20 , 30, 90, 100, 30, 22, 11]
total=0
for i in numbers:
    
    if i>100:
        break
        
    total = total+i
    print("total:",total)
    
else:
    print("all numbers processed")

total: 10
total: 30
total: 60
total: 150
total: 250
total: 280
total: 302
total: 313
all numbers processed